@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h1>FORD LINCOLN MERCURY</h1>
    <p class="lead">Ford Lincoln Mercury's Ford Lincoln Mercury Dealership!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>View Cars</h2>
        <p>A veritable cornucopia of automobiles for your perusal and purchase! </p>
        <p>Provided, of course, that they're a Ford/Lincoln/Mercury</p>
        <p><a class="btn btn-default" href="~/API/GetCars">See available cars &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Search</h2>
        <p>We've got so many vehicles in our lot, not even Google can search them all!</p>
        <p>Feel free to search for your dream-mobile any way you want: year, make, model, hell, even the color!</p>
        <p><a class="btn btn-default" href="~/API/Search">Search Cars &raquo;</a></p>
    </div>    
</div>

<style type="text/css">
.jumbotron { 
    background-image: url("https://c1.staticflickr.com/5/4091/4997929270_6e093ed9fb_b.jpg");    
}
</style>