
<h2>Search</h2>

<div class="form-group">
    <form action="~/API/FindCars" method="get" class="form-group">
        <div class="form-group">
            <label class="form-group">Search by:</label>
            <div class="row">
                <fieldset class="form-group">
                    <div class="col-md-6">
                        <div>
                            <label class="">Make:</label>
                            <select name="Make" id="chooseMake" class="">
                                <option value="" disabled selected>Choose make...</option>
                                <option value="Ford">Ford</option>
                                <option value="Lincoln">Lincoln</option>
                                <option value="Mercury">Mercury</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="form-group">
                    <div class="col-md-6">
                        <label>Model:</label>
                        <input type="text" name="Model" placeholder="Choose model..." />
                    </div>
                </fieldset>
            </div>
            <fieldset class="form-group">
                <label>Year From:</label>
                <input type="number" name="YearFrom" />
                <label>Year To:</label>
                <input type="number" name="YearTo" />
            </fieldset>
            <fieldset class="form-group">
                <label>Color:</label>
                <input type="text" name="Color" placeholder="Choose color..." />
            </fieldset>
            <fieldset class="form-group">
                <label>VIN:</label>
                <input type="text" name="VIN" placeholder="Vehicle Identification #" />
            </fieldset>
            <input type="submit" value="Search" />
        </div>
    </form>
</div>